version: 2

updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"

    allow:
      - dependency-type: all

    groups:
      all-deps:
        patterns:
          - "*"

    commit-message:
      prefix: "chore"

    labels:
      - dependencies

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

    allow:
      - dependency-type: all

    groups:
      all-deps:
        patterns:
          - "*"

    commit-message:
      prefix: "chore"

    labels:
      - dependencies
